@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@layer base {
  body {
    @apply bg-Light-Grayish-Blue;
  }
}

@theme {
  /* fonts */
  --font-one: Manrope;
  /* colors */
  --color-Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --color-Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --color-Grayish-Blue: hsl(212, 23%, 69%);
  --color-Light-Grayish-Blue: hsl(210, 46%, 95%);
}
